<div>

  <section>
    <h2>icon</h2>
    <div>
      <i anticon type="link"></i>
      <i anticon type="up"></i>
      <i anticon type="right"></i>
      <i anticon type="down"></i>
      <i anticon type="left"></i>
    </div>
  </section>

  <section>
    <h2>button</h2>
    <div>
      <button [type]="'primary'" (onClick)="clickBtn($event)" [loading]="loading">主要</button>
      <button (onMouseDown)="clickBtn($event)">默认</button>
      <button [type]="'ghost'" (onMouseUp)="clickBtn($event)">Ghost</button>
      <button [type]="'dashed'" (onMouseUp)="clickBtn($event)">Dashed</button>
      <button [type]="'danger'" (onClick)="clickBtn($event)">Danger</button>
      <button [type]="'primary'" [size]="'large'" (onClick)="clickBtn($event)" [icon]="'search'">Search</button>
      <button [type]="'primary'" [loading]="true" [size]="'small'" (onClick)="clickBtn($event)" [loading]="true">Loading</button>
      <button [type]="'primary'" [shape]="'circle'" (onMouseUp)="clickBtn($event)" [icon]="'search'"></button>
      <button [type]="'primary'" [disabled]="true" (onClick)="clickBtn($event)">Primary(disabled)</button>
      <button [disabled]="true" (onMouseDown)="clickBtn($event)">Default(disabled)</button>
      <button [type]="'dashed'" [disabled]="true" (onMouseUp)="clickBtn($event)">Dashed(disabled)</button>
    </div>
  </section>

  <section>
    <h2>button group</h2>
    <h3>default</h3>
    <div button-group [className]="ant-btn-group">
      <button [type]="'primary'" (onClick)="clickBtn($event)">Primary</button>
      <button (onMouseDown)="clickBtn($event)">Default</button>
      <button [type]="'dashed'" (onMouseUp)="clickBtn($event)">Dashed</button>
      <button [type]="'danger'" (onClick)="clickBtn($event)">Danger</button>
    </div>
    <h3>large</h3>
    <div button-group [className]="ant-btn-group" [size]="'large'">
      <button [type]="'primary'" (onClick)="clickBtn($event)">Primary</button>
      <button (onMouseDown)="clickBtn($event)">Default</button>
      <button [type]="'dashed'" (onMouseUp)="clickBtn($event)">Dashed</button>
      <button [type]="'danger'" (onClick)="clickBtn($event)">Danger</button>
    </div>
    <h3>small</h3>
    <div button-group [className]="ant-btn-group" [size]="'small'">
      <button [type]="'primary'" (onClick)="clickBtn($event)">Primary</button>
      <button (onMouseDown)="clickBtn($event)">Default</button>
      <button [type]="'dashed'" (onMouseUp)="clickBtn($event)">Dashed</button>
      <button [type]="'danger'" (onClick)="clickBtn($event)">Danger</button>
    </div>
  </section>
</div>